h1{
   text-align: center;
}
table{
    border: 0px solid black;
    border-collapse: collapse ;
    text-align: center;
    width: 2000px;
    height: 1000px;
    text-align: center;
}
td{
    border: 2px solid black;
    font-weight: bolder;
    width: 100px;
    height: 50px;
}
th{
    border: 0px solid black;
    width: 100px;
    height: 50px;
}
.gorn{
    visibility: hidden;
    border: 0px rgb(0, 0, 0);
}
.alka{
    background-color: rgb(255, 127, 144);
    border: 0px;

}
.zemi{
    background-color: rgb(248, 174, 37);
    border: 0px;   
  
}
.pře{
    background-color: rgb(212, 132, 236);
    border: 0px;
 
}
.kov{
    background-color: rgb(150, 156, 231);
    border: 0px; 

}
.pol{
    background-color: rgb(150, 231, 227);
    border: 0px;

}
.nekov{
    background-color: rgb(153, 231, 150);
    border: 0px;

}
.halo{
    background-color: rgb(56, 73, 233);
    border: 0px; 
}
.plyn{
    background-color: rgb(238, 225, 51);
    border: 0px;
}
.alkany{
    background-color: rgb(255, 127, 144);
}
.zeminy{
    background-color: rgb(248, 174, 37);
}
.překovy{
    background-color: rgb(212, 132, 236);
}
.kovy2{
    background-color: rgb(150, 156, 231);
}
.polkov{
    background-color: rgb(150, 231, 227);
}
.nekovy{
    background-color: rgb(153, 231, 150);
}
.halogeny{
    background-color: rgb(56, 73, 233);
}
.plyny{
    background-color: rgb(238, 225, 51);
}
.podtext{
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: -20px;
}
.čislo{
    font-size: 11px;
    text-align: center;
    color: rgb(102, 98, 98);
}
.čik{
    font-size: 11px;
}
p{
    margin-top: -17px;
    font-size: 11px;  
}